:root{
    --color-primario:  ;
    --color-secundario : green ; 
    --color-texto : yellow ; 
    --color-acento : red ;
    --color-fondo-suave : orange ; 

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    margin: 0px;
    padding: 0px;
    
}

body {
    background-color: var(--color-primario);
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: var(--color-secundario);
    padding: 10px;
    gap: 45px ;
    
}

a{
    text-decoration : none ;
    color: var(--color-texto);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}h1{
    color: var(--color-acento);
    margin-top: 50px;

}
